@import "../../helpers/variables.scss";
@import "../../helpers/mixins.scss";
@import "../../helpers/placeholder.scss";

.accounting-solutions {
  padding-top: 2.5rem;
  padding-bottom: 6.25rem;

  @media (min-width: $breakpoint-xl) {
    padding-top: 6.25rem;
  }

  &--container {
    position: relative;
  }

  &--header {
    .title {
      color: $fColor-medium;
      text-align: center;
      font-weight: 700;
      font-size: 1.25rem;
      margin-bottom: 2.5rem;

      @media (min-width: $breakpoint-xl) {
        font-size: 2.25rem;
        margin-bottom: 4.125rem;
      }
    }
  }

  &--lists {
    &--list {
      padding: 3.25rem 2.375rem;

      border-radius: 1.25rem;
      border: 1px solid rgba(154, 168, 200, 0.4);
      background: radial-gradient(
          159.05% 118.3% at 18.89% 18.62%,
          rgba(255, 128, 0, 0.05) 0%,
          rgba(255, 255, 255, 0.05) 55.52%
        ),
        rgba(154, 168, 200, 0.1);

      .image {
        width: 3.25rem;
        height: 3.25rem;
        margin-bottom: 1.5625rem;
      }

      .desc {
        h1,
        h2,
        h3,
        h4 {
          font-size: 1.5rem;
          font-weight: 700;
          margin-bottom: 2rem;
          color: $fColor-medium;
        }
        p {
          color: $fColor-ultradark;
        }
      }
    }
  }

  .swiper-container {
    overflow: hidden;

    .swiper-button-next,
    .swiper-button-prev {
      height: 100%;
      top: 0;
      margin-top: 0;
      width: 3.25rem;

      &::after {
        content: "" !important;
        background-image: url(../../dist/icons/arrow-circle-right.svg);
        width: 3.25rem;
        height: 3.25rem;
      }
    }

    .swiper-button-prev {
      transform: rotate(180deg);
    }

    .swiper-pagination {
      transform: translateY(4.375rem);

      &-bullet {
        opacity: 1;
        background: inherit;
        background-image: url(../../dist/icons/pagination.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 1.5rem;
        height: 1.5rem;

        &-active {
          background-image: url(../../dist/icons/pagination-active.svg);
        }
      }
    }
  }
}
