@import "../../helpers/variables.scss";
@import "../../helpers/mixins.scss";
@import "../../helpers/placeholder.scss";

.main-banner {
  color: $gray;
  padding-top: 2.5rem;
  padding-bottom: 7.5rem;

  @media (min-width: $breakpoint-xl) {
    padding-top: 5rem;
    background-color: $fColor-medium;
    position: relative;

  }

  &--contents {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 1.25rem;

    @media (min-width: $breakpoint-xl) {
      z-index: 10;
      position: relative;
      display: grid;
      @include grid-cols-12;
    }

    &--texts {
      margin-left: auto;
      margin-right: auto;
      max-width: 21.875rem;

      @media (min-width: $breakpoint-md) {
        max-width: 500px;
      }
      @media (min-width: $breakpoint-xl) {        
        @include col-span-6;
        max-width: inherit;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 0.625rem;
        justify-content: center;
      }
      .item{
        @media (min-width: $breakpoint-xl) {
          display: grid;
          @include grid-cols-6;
        }
        .tag {
          color: $sColor;
          background-color: $fColor-medium;
          border: 1px solid $fColor;
          text-transform: uppercase;
          position: relative;
          display: flex;
          align-items: center;
          flex-direction: row;
          column-gap: 0.625rem;
          padding: 1.25rem 1.25rem 1.25rem 2.5rem;
          width: fit-content;
          height: 1.375rem;
          @extend %border-radius;
          margin-bottom: 1.25rem;
  
          &::before {
            left: 0;
            background-image: url("../../dist/icons/vector.svg");
            width: 1.25rem;
            @extend %icons;
          }
  
          @media (min-width: $breakpoint-xl) {
            font-size: 1.125rem;
            margin-bottom: 0;
            @include col-span-5;
          }
        }
  
        .title {
          display: flex;
          flex-direction: column;
          row-gap: 1.25rem;
  
          h1,
          h2,
          h3,
          h4,
          h5 {
            font-size: 25px;
            font-weight: bold;
            
            @media (min-width: $breakpoint-xl) {
              line-height: 3rem;
              font-size: 3rem;
            }
          }
  
          strong {
            color: $sColor;
          }
          @media (min-width: $breakpoint-xl) {
            @include col-span-5;
          }
        }
  
        .buttons {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 1.25rem;
          margin-top: 9.375rem;          
          @extend %border-radius;
          font-size: 1.125rem;
          padding: 1.25rem;
          background-image: url(../../dist/icons/button-bg.png  );
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;
  
          @media (min-width: $breakpoint-xl) {
            margin-top: 0;
            @include col-span-6;
            column-gap: 2rem;
            flex-direction: row;
            max-width: 33.4375rem;
          }
          
          .button{
            background: linear-gradient(
              to right,             
              rgb(255, 128, 0) 0,
              rgb(203, 99, 0) 100%
            );
            color: $gray;
            display: flex;
            align-items: center;

          }
  
          .link{
            color: $sColor;
            position: relative;
            padding-right: 1.25rem;
  
            &::after{
              @extend %icons;
              right: 0;
              background-image: url(../../dist/icons/arrow-right.svg);
              width: 15px;
            }
          }

          &:hover{
            .link{
              text-decoration: underline;
              color: $sColor-medium;
            }
          }
  
        }
      }
    }

    &--image{
      @media (min-width: $breakpoint-md) {
        height: 34.375rem;
      }

      @media (min-width: $breakpoint-xl) {
        @include col-span-6;
      }
      
      img{
        object-fit: contain;
      }
    }
  }

}
