@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

.header {
  background-color: $fColor-medium;
  color: $gray;
  padding: 1.25rem 0;
  position: relative;

  .header--container {
    @media (min-width: $breakpoint-xl) {
      display: grid;
      @include grid-cols-12;
    }

    &--branding {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (min-width: $breakpoint-xl) {
        @include col-span-3;
      }

      .custom-logo {
        max-width: 14.75rem;
      }

      .open-menu-mobile {
        @media (min-width: $breakpoint-xl) {
          display: none;
        }

        .bg-menu-mobile {
          background: url(../../dist/icons/menu-icon.svg);
          width: 2.0625rem;
          height: 1.3125rem;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          overflow: hidden;
          padding-left: 1.5rem;
          text-indent: -624.9375rem;
          border: none;
        }
      }
    }

    &--icons {
      margin-top: 1.25rem;

      @media (min-width: $breakpoint-xl) {
        margin-top: 0;
        @include col-span-9;
      }
      .top {
        @media (min-width: $breakpoint-xl) {
          display: grid;
          @include grid-cols-9;
          align-items: center;
        }

        .menu-items {
          display: none;

          @media (min-width: $breakpoint-xl) {
            display: block;
            @include col-span-6;
            margin-left: auto;
            margin-right: auto;
          }

          nav#menu .main-menu {
            @media (min-width: $breakpoint-xl) {
              display: flex;
              align-items: center;
              flex-direction: row;
              column-gap: 1.75rem;
            }

            li.menu-item a {
              font-size: 16px;
              color: $gray;

              @media (min-width: $breakpoint-xl) {
                font-size: 1.125rem;
              }
            }
          }
          .bg-close-menu-mobile {
            @media (min-width: $breakpoint-xl) {
              display: none;
            }
          }
          &.openned {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            padding: 20px;
            background-color: $fColor-dark;
            z-index: 50;

            nav#menu {
              .main-menu {
                display: flex;
                flex-direction: column;
                row-gap: 1.875rem;
              }
            }

            .bg-close-menu-mobile {
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              overflow: hidden;
              padding-left: 1.5rem;
              text-indent: -624.9375rem;
              border: none;
              position: absolute;
              top: 1.25rem;
              right: 1rem;
              width: 2.25rem;
              height: 2.25rem;
              background: url(../../dist/icons/close-menu-icon.svg);
              cursor: pointer;
            }
          }

          
        }

        .button {
          margin-left: auto;
          margin-right: auto;
          display: flex;
          flex-direction: row;
          align-items: center;

          @media (min-width: $breakpoint-xl) {
            @include col-span-3;
          }
        }
      }
    }
  }
}
