@import './variables.scss';
@import './mixins.scss';

.button {  
  width: fit-content;
  height: 2.875rem;
  text-decoration: none;
  border-radius: 6.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: $font-bricolage;
  font-weight: bold;
  cursor: pointer;

  &:hover{
    @include transition-colors;
  }
  
  @media screen and (min-width: $breakpoint-lg) {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  &--primary{
    background-color: $fColor;
    color: $sColor;

    &:hover{
      background-color: $fColor-dark;    
    }
  }

  &--icon{
    position: relative;
    padding-left: 4.375rem;

    &::before{
      content: '';
      position: absolute;
      left: 2rem;
      top: 0;
      background-image: url('../../dist/icons/button-icon.svg');
      width: 1.5rem;
      height: 1.5rem;
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(50%);
    }
  }
}