$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-1_5xl: 1440px;
$breakpoint-2xl: 1536px;

$white: #fff;
$black: #000;
$green-light: #25D366;
$green: #137735;
$fColor: #002068;
$fColor-medium: #00153A;
$fColor-dark: #001B51;
$fColor-ultradark: #0B1623;
$sColor: #FF8000;
$sColor-light: #D76900;
$sColor-medium: #CB6300;
$sColor-dark: #984600;
$gray: #FDFDFF;
$yellow: #FFD078;

$font-rubik: "Montserrat", sans-serif;
$font-bricolage: "Bricolage Grotesque", sans-serif;


