$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-1_5xl: 1440px;
$breakpoint-2xl: 1536px;

$white: #fff;
$black: #000;
$green: #61CE70;
$fColor: #002068;
$fColor-medium: #00153A;
$fColor-dark: #001B51;
$sColor: #FF8000;
$sColor-medium: #CB6300;
$gray: #FDFDFF;

$font-rubik: "Montserrat", sans-serif;
$font-bricolage: "Bricolage Grotesque", sans-serif;


